@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+JP&family=Pacifico&display=swap');


/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Noto Sans JP", Arial, sans-serif;
	/* font-size: 14px;
	line-height: 1.5; */
}

body {
	background-color: #EEEF20;
	padding: 1em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

h1 {
	color: #2B9348;
	font-family:  'Pacifico' , cursive;
	font-size: 60px;
	margin: 0%;
	
	
}
h4 {
	font-family: 'Noto Sans JP',Arial;

}
img {
	width: 90px;
	height: auto;
	border-radius: 20px;
}


.entryCard {
	margin: 1em;
}

.mood__select {
	display: flex;
}





.date-mood {
	display: flex;
	flex-direction: column;	
	width: 200px;
	justify-content: space-evenly;
	border-radius: 5px;
	background-color: #AACC00;
	padding: 1em;
	margin-bottom: 20px;
	font-family: 'Fredoka One', cursive;
	font-size: 15px;
	border: 2px solid black;
}

.entry__form {
	display: flex;
	justify-content: flex-start;
	border: 2px solid black;
	width: 300px;
	
}

.previous__entries {
	background-color: #AACC00;
	border-radius: 5px;
	border: 2px solid black;
	padding: .5em;
	margin-top: 20px;
	
}

h4 {
	font-family: 'Fredoka One', cursive;
}




